

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.back-button {
    padding: 10px 15px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}
h1 {
    font-size: 30px; /* Augmente la taille du titre */
    font-weight: bold; /* Rend le texte plus marqué */
    margin-bottom: 25px;
}

.success-container {
    width: 100%; /* Agrandit la largeur du conteneur */
    margin: auto; /* Centre l'affichage */
    padding: 20px; /* Ajoute de l'espace */
}
.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c4bfbf;
    border-radius: 8px;
    
    width: 70%;        /* occupe 90% de l’espace disponible */
    max-width: 20px;  /* mais pas plus large que 500px */
    box-sizing: border-box; /* pour prendre en compte padding dans la largeur */
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.carre {
    width: 950px;
    height: 400px;
    background: linear-gradient(135deg, #4cafd6, #050652);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;      /* centre horizontalement */
    justify-content: center;  /* centre verticalement */
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    font-size: 30px;
    text-align: center;       /* centre le texte dans les éléments */
}

.carre p:not(:last-child) {
    margin-bottom: 20px; /* espace entre les phrases */
}


.carre p {
    margin-bottom: 20px; /* espace entre les paragraphes */
}


.arrow {
    font-size: 24px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

