

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.back-button {
    padding: 10px 15px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}
h1 {
    font-size: 30px; /* Augmente la taille du titre */
    font-weight: bold; /* Rend le texte plus marqué */
    margin-bottom: 25px;
}

.success-container {
    width: 100%; /* Agrandit la largeur du conteneur */
    margin: auto; /* Centre l'affichage */
    padding: 20px; /* Ajoute de l'espace */
}
.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c4bfbf;
    border-radius: 8px;
    
    width: 70%;        /* occupe 90% de l’espace disponible */
    max-width: 20px;  /* mais pas plus large que 500px */
    box-sizing: border-box; /* pour prendre en compte padding dans la largeur */
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 450px;
    height: 300px;
    background: linear-gradient(135deg, #4A90E2, #9013FE); /* Dégradé moderne */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
    background: linear-gradient(135deg, #b5c8df, #33075a);
}

.arrow {
    font-size: 24px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover .arrow {
    transform: translateX(5px); /* Effet de mouvement */
}
